{% extends 'base.html' %}
{% block content %}
<table class="index">
    <tr class="index">
        {% for state in states %}
        <th class="index">{{state}}</th>
        {% endfor %}
    </tr>
    {% for task in tasks %}
    <tr>
        {% for s in states %}
        {% if task.state != s %}
        <td class="index"></td>
        {% else %}
        <td class="index">
            <div class="task">
                <a href="{% url 'tasks.views.edit' task.id %}">
                    <div>
                        {{ task.name }}
                    </div>
                    <hr>
                    <div>
                        {{task.user.username}}
                    </div>
                </a>
            </div>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
